<% layout("/layouts/boilerplate") %>
  <div class="row mt-3">
    <div class="col-8 offset-2">

      <h3>Edit your Listing</h3>
      <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">

        <div class="mb-3">
          <lable for="title" class="form-lable">Title</lable>
          <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control" required/>
           <div class="invalid-feedback">
              Title should be vaild
            </div>
        </div>

        <br />
        <div class="mb-3">
          <lable for="description" class="form-lable">description</lable>
          <textarea type="text" name="listing[description]" class="form-control"  required><%= listing.description %></textarea>
           <div class="invalid-feedback">
               Please enter short description
            </div>
        </div>


          <div class="mb-3">
           <p>Original Listing image </p> 
            
           <img src="<%= originalImageUrl %>"  width="100%" height="300px">
        
        </div>


        <div class="mb-3">
          <lable for="image" class="form-lable"> Uplode New Image</lable>
          <input type="file" name="listing[image]" class="form-control">
        
        </div>


        <div class="row">
          <div class="mb-3 col-md-4">
            <lable for="price" class="form-lable">price</lable>
            <input type="number" name="listing[price]" value="<%= listing.price %>" class="form-control" required>
             <div class="invalid-feedback">
              Price should be vaild
            </div>
          </div>



          <div class="mb-3 col-md-8">
            <lable for="country" class="form-lable">Country</lable>
            <input type="text" name="listing[country]" value="<%= listing.country %>" class="form-control" required>
             <div class="invalid-feedback">
              Country should be vaild
            </div>
          </div>

        </div>
        <div class="mb-3">
          <lable for="location" class="form-lable">location</lable>
          <input type="text" name="listing[location]" value="<%= listing.location %>" class="form-control" required>
          <div class="invalid-feedback">
               Location should be vaild
            </div>
        </div>



        <button class="btn edit-btn mt-2 mb-3">Edit</button>
      

      </form>
    </div>
  </div>